body{
    font: 20px, arial, sans-serif;
    font-family: 'Prosto One', cursive;
}

.navbar{
    background-color: #3BC7DE;;
}

.quemsomos{
    background-color: #34AEC2;
    color: white;
}

.margin{
    padding-bottom: 50px;
}

h3{
    padding: 5px;
}

.parceiros{
    background-color: #2C95A6 ;
    color: azure;
}

.serviços{
    background-color: #257C8B;
    color: azure;
}

.bg-footer{
    background-color: #0F3237;
    color: white;
}
